* {
  margin: 0;
  padding: 0;
}
.box {
  width: 300px;
  border: 1px #dddddd solid;
  box-shadow: 3px 3px 5px;
  margin: 100px auto;
}
.box ul {
  list-style: none;
}
.box ul li {
  height: 30px;
  line-height: 30px;
  text-indent: 10px;
  border-bottom: 1px #f1f1f1 solid;
}
.box ul li:hover {
  background: yellowgreen;
}
.box ul li:nth-child(odd) {
  color: green;
}
